rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner(uid) {
      return request.auth != null && request.auth.uid == uid;
    }
    match /users/{uid} {
      allow read, write: if isOwner(uid);
      match /collection/{cardId} {
        allow read, write: if isOwner(uid);
      }
      match /cardPrefs/{cardId} {
        allow read, write: if isOwner(uid);
      }
      match /decks/{deckId} {
        allow read, write: if isOwner(uid);
        match /variations/{variationId} {
          allow read, write: if isOwner(uid);
        }
      }
    }
  }
}
